<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDitar Cadastro</title>
    <link rel="stylesheet" href="/public/insert_pedido.css">
</head>

<body>

    <div class="btn-back">
        <a class="btn-back-01" href="/user/list_pedidos">Voltar</a>
    </div>
    <div class="miolo">
        <form action="/user/edit/<%=body.id%>" method="POST">
            <div class="centro-miolo">
                <h1>Alterar os dados do Pedido</h1>

                <div class="email">
                    <input type="number" placeholder="Numero do Pedido" name="pedido" value=<%=body.pedido%> required>
                </div>
                <div class="email">
                    <input type="date" placeholder="" name="dtpedido" value=<%=body.dtpedido%> required>
                </div>
                <div class="email">
                    <input type="date" placeholder="Previsão Entrega" name="preventrega" value=<%=body.preventrega%>
                    required>
                </div>
                <div class="email">
                    <input type="text" placeholder="Fornecedor" name="fornecedor" value=<%=body.fornecedor%> required>
                </div>
                <div class="email">
                    <input type="text" placeholder="Material" name="material" value=<%=body.material%> required>
                </div>
                <div class="email">
                    <input type="number" placeholder="largura" name="largura" value=<%=body.largura%> required>
                </div>
                <div class="email">
                    <input id="quantidade" type="number" placeholder="quantidade" name="quantidade"
                        value=<%=body.quantidade%> required>
                </div>
                <div class="email">
                    <input id="linear" type="number" placeholder="Mts Linear" name="linear" value=<%=body.linear%>
                    required>
                </div>
                <div class="email">
                    <input id="total" type="number" placeholder="Qtd. Total" name="total" value=<%=body.total%>
                    readonly>
                </div>
                <div class="botao" onclick="total()">
                    <button> Salvar
                </div>
            </div>
        </form>
    </div>

    <% if(error){%>
        <h3>
            <%=error.message%>
        </h3>
        <%}%>
            </div>

            <script>
                function total() {
                    let quantidade = document.getElementById('quantidade').value
                    let linear = document.getElementById('linear').value
                    let res = (parseFloat(quantidade) * parseInt(linear)).toFixed(2)
                    document.getElementById("total").value = res
                }
            </script>
</body>

</html>