<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar OP</title>
    <link rel="stylesheet" href="/public/insert_pedido.css">
</head>

<body>

    <div class="btn-back">
        <a class="btn-back-01" href="/user/list_pedidos">Voltar</a>
    </div>
    <div class="miolo">
        <form action="/user/editop/<%=body.id%>" method="POST">
            <div class="centro-miolo">
                <h1>Alterar os dados da OP</h1>

                <div class="email">
                    <input type="number" placeholder="Numero da OP" name="num_op" value=<%=body.num_op%> required>
                </div>
                <div class="email">
                    <input type="text" placeholder="Nome do Cliente" name="cliente" value=<%=body.cliente%> >
                </div>
                <div class="email">
                    <input type="date" placeholder="Data Pedido" name="dt_ped_op" value=<%=body.dt_ped_op%> >
                </div>
                <div class="email">
                    <input type="date" placeholder="Previsão Faturamento " name="prev_faturamento" value=<%=body.prev_faturamento%> required>
                </div>
                <div class="email">
                    <input type="number" placeholder="Quantidade Linear" name="qtd_linear" value=<%=body.qtd_linear%> >
                </div>
                <div class="email">
                    <input type="text" placeholder="Observação" name="obs_op" value=<%=body.obs_op%>>
                </div>
                <div class="email">
                    <input  type="number" placeholder="Disponivel" name="disponivel" value=<%=body.disponivel%> readonly>
                </div>
                <div class="email">
                <div class="botao" onclick="total()">
                    <button> Salvar
                </div>
            </div>
        </form>
    </div>

    <% if(error){%>
        <h3>
            <%=error.message%>
        </h3>
        <%}%>
            </div>

            <!-- <script>
                function total() {
                    let quantidade = document.getElementById('quantidade').value
                    let linear = document.getElementById('linear').value
                    let res = (parseFloat(quantidade) * parseInt(linear)).toFixed(2)
                    document.getElementById("total").value = res
                }
            </script>
</body> -->

</html>