<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Programar OPs</title>
</head>

<body>
    <div class="miolo_OP">
        <div class="btn-back">
            <a class="btn-back-01" href="/user/list_pedidos">Voltar</a>
        </div>
        <header>
            <form action="/user/insert_op/<%=body.projectId%>" method="POST">
                <div class="email">
                    <div class="email">
                        <input type="text" placeholder="Numero do Id" name="id" value=<%=body.id%> readonly>
                    </div>
                    <div class="email">
                        <input type="number" placeholder="Numero do Pedido" name="pedido" value=<%=body.pedido%> required>
                    </div>
                    <div class="email">
                        <input type="date" placeholder="" name="dtpedido" value=<%=body.dtpedido%> required>
                    </div>
                    <div class="email">
                        <input type="date" placeholder="Previsão Entrega" name="preventrega" value=<%=body.preventrega%>
                        required>
                    </div>
                    <div class="email">
                        <input type="text" placeholder="Fornecedor" name="fornecedor" value=<%=body.fornecedor%> required>
                    </div>
                    <div class="email">
                        <input type="text" placeholder="Material" name="material" value=<%=body.material%> required>
                    </div>
                    <div class="email">
                        <input type="number" placeholder="largura" name="largura" value=<%=body.largura%> required>
                    </div>
                    <div class="email">
                        <input id="quantidade" type="number" placeholder="quantidade" name="quantidade"
                            value=<%=body.quantidade%> required>
                    <div class="email">
                        <input id="linear" type="number" placeholder="Mts Linear" name="linear" value=<%=body.linear%> required>
                    </div>
                    <div class="email">
                        <input id="total" type="number" placeholder="Qtd. Total" name="total" value=<%=body.total%>
                        readonly>
                    </div>
                                        
                    </div>                    
                </div>

                <div class="centro-miolo">
                    
                    <h1>PROGRAMAR OPs</h1>
                    <div class="email">Numero da OP <br>
                        <input type="number" name="num_op" required>
                    </div>
                    <div class="email">Cliente <br>
                        <input type="text" name="cliente" required>
                    </div>
                    <div class="email">Data do Pedido <br>
                        <input type="date" name="dt_ped_op" required>
                    </div>
                    <div class="email">Previsão de Faturamento <br>
                        <input type="date" name="prev_faturamento" required>
                    </div>
                    <div class="email">Quantidade Linear Total <br>
                        <input type="number" name="qtd_linear" required>
                    </div>
                    <div class="email">Detalhe da OP<br>
                        <input type="text" name="obs_op">
                    </div>
                    <div class="email">Quantidade Linear Total <br>
                        <input type="number" name="resultado" readonly>
                    </div>

                    <div class="botao">
                        <button> Salvar
                    </div>
                </div>
            </form>
        </header>
    </div>

</body>

</html>