<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/list_pedidos.css">
    <title>Lista de Usuarios</title>

</head>

<body>
    <div class="btn-01-02">
        <div class="btn-01">
            <a class="btn-01-return" href="/user/dashboard">HOME</a>
        </div>
        <div class="btn-02">
            <a class="btn-02-newuser" href="/user/insert_pedido">Novo<br>Pedido</a>
        </div>
    </div>
    <div class="line-title">
        <table>
            <tr>
                <td class="headline">Pedido</td>
                <td class="headline">Data Pedido</td>
                <td class="headline">Prev. Entrega</td>
                <td class="headline">Fornecedor</td>
                <td class="headline">Material</td>
                <td class="headline">largura</td>
                <td class="headline">quantidade</td>
                <td class="headline">linear</td>
                <td class="headline">total</td>
                <td class="headline-fim"></td>
            </tr>
        </table>
    </div>

    <div class="header">
        <table id="tabela">
            <thead>
            <tbody>
                <% for (let i=0; i < progpeds.length; i++) {%>
                    <div id='<%= progpeds[i]._id%>'>
                        <form method="POST" action="/user/delete/<%= progpeds[i]._id%>/?_method=DELETE">
                            <tr>
                                <td class="headline">
                                    <%= progpeds[i].pedido%>
                                </td>
                                <td class="headline">
                                    <%= progpeds[i].dtpedido%>
                                </td>
                                <td class="headline">
                                    <%= progpeds[i].preventrega%>
                                </td>
                                <td class="headline">
                                    <%= progpeds[i].fornecedor%>
                                </td>
                                <td class="headline">
                                    <%= progpeds[i].material%>
                                </td>
                                <td class="headline">
                                    <%= progpeds[i].largura%>
                                </td>
                                <td class="headline">
                                    <%= progpeds[i].quantidade%>
                                </td>
                                <td class="headline">
                                    <%= progpeds[i].linear%>
                                </td>
                                <td class="headline">
                                    <%= progpeds[i].total%>
                                </td>
                                <td class="btnEdit"><a href="/user/edit/<%= progpeds[i]._id%>">Editar</a>
                                </td>
                                <td class="btnExcluir"><button onclick=" return window.confirm('Confirme a exclusão')"
                                        type="submit">Excluir</button></td>
                            </tr>

                            <tr>
                                <td class="headline-2">Num. da OP</td>
                                <td class="headline-2">Data Pedido</td>
                                <td class="headline-2">Cliente</td>
                                <td class="headline-2">Qtd. Linear</td>
                                <td class="headline-2">Observação</td>
                                <td class="headline-2">Prev. Faturamento</td>
                                <td class="headline-2">Disponivel</td>
                                <td class="btnExcluir"><button
                                    onclick=" return window.confirm('Confirme a exclusão')"
                                    type="submit">Excluir</button>

                            </tr>
                            <div class="header-op">
                                <tr>
                                    <div class="line-op">
                                        <td class="headline">
                                            <%= progpeds[i].num_op%>
                                        </td>
                                        <td class="headline">
                                            <%= progpeds[i].cliente%>
                                        </td>
                                        <td class="headline">
                                            <%= progpeds[i].dt_ped_op%>
                                        </td>
                                        <td class="headline">
                                            <%= progpeds[i].prev_faturamento%>
                                        </td>
                                        <td class="headline">
                                            <%= progpeds[i].qtd_linear%>
                                        </td>
                                        <td class="headline">
                                            <%= progpeds[i].obs_op%>
                                        </td>
                                        <td class="headline">
                                            <%= progpeds[i].resultado%>
                                        </td>
                                        </td>
                                        <td class="adic_op"><a class="adicionar_op" href="/user/insert_op">+  OP</a>
                                        </td>
                                    </div>
                                </tr>
                            </div>
                        </div>

                        </form>
                    <%}%>

            </tbody>
            </thead>
        </table>
    </div>
</body>

</html>