<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/list_pedidos.css">
    <title>Lista de Pedidos - Programação</title>

</head>

<body>
    <div class="btn-01-02">
        <div class="btn-01">
            <a class="btn-01-return" href="/user/dashboard">HOME</a>
        </div>
        <div class="btn-02">
            <a class="btn-02-newuser" href="/user/insert_pedido">Novo<br>Pedido</a>
        </div>
    </div>
<div class="header">

    <% for (let i=0; i < progpeds.length; i++) {%>

        <div class="itens" id='<%= progpeds[i]._id%>'>

            <form method="POST" action="/user/delete/<%= progpeds[i]._id%>/?_method=DELETE">

                <div class="line-title">
                    <table>
                        <tr>
                            <td class="headline">Pedido</td>
                            <td class="headline">Data Pedido</td>
                            <td class="headline">Prev. Entrega</td>
                            <td class="headline">Fornecedor</td>
                            <td class="headline">Material</td>
                            <td class="headline">largura</td>
                            <td class="headline">quantidade</td>
                            <td class="headline">linear</td>
                            <td class="headline">total</td>
                            <td class="headline"></td>
                        </tr>
                    </table>
                </div>

                <div class="dados-op">
                    <table>
                        <tr>
                            <td class="headline"><%= progpeds[i].pedido%></td>
                            <td class="headline"><%= progpeds[i].dtpedido%></td>
                            <td class="headline"><%= progpeds[i].preventrega%></td>
                            <td class="headline"><%= progpeds[i].fornecedor%></td>
                            <td class="headline"><%= progpeds[i].material%></td>
                            <td class="headline"><%= progpeds[i].largura%></td>
                            <td class="headline"><%= progpeds[i].quantidade%></td>
                            <td class="headline"><%= progpeds[i].linear%></td>
                            <td class="headline"><%= progpeds[i].total%></td>
                            <td class="btnEdit"><a href="/user/edit/<%= progpeds[i]._id%>">Editar</a></td>
                            <td class="btnExcluir"><button onclick=" return window.confirm('Confirme a exclusão')"
                                    type="submit">Excluir</button></td>
                        </tr>
                    </table>
                </div>

                <div class="line-title">
                    <table>
                        <tr>
                            <td class="headline">Num. da OP</td>
                            <td class="headline">Data Pedido</td>
                            <td class="headline">Cliente</td>
                            <td class="headline">Qtd. Linear</td>
                            <td class="headline">Observação</td>
                            <td class="headline">Prev. Faturamento</td>
                            <td class="headline">Disponivel</td>
                            <td class="btnExcluir"><button onclick=" return window.confirm('Confirme a exclusão')"
                                    type="submit">Excluir</button>
                        </tr>
                    </table>
                </div>

                <div class="dados-op">
                    <% for (let i=0; i < adicop.length; i++) {%>
                    <table>
                        <tr>
                            <td class="headline"><%= adicop[i].num_op%></td>
                            <td class="headline"><%= adicop[i].cliente%></td>
                            <td class="headline"><%= adicop[i].dt_ped_op%></td>
                            <td class="headline"><%= adicop[i].prev_faturamento%></td>
                            <td class="headline"><%= adicop[i].qtd_linear%></td>
                            <td class="headline"><%= adicop[i].obs_op%></td>
                            <td class="headline"><%= adicop[i].resultado%></td>
                            <td class="adic_op"><a class="adicionar_op" href="/user/insert_op">+ OP</a></td>
                        </tr>
                    </table>
                    <%}%>
                </div>
            </form>
        </div>
    <%}%>
</div>
</body>

</html>